<p>Welcome <%= @game.player_one.name %></p>

<h2><%= @game.player_one.name %></h2>
<% @game.player_one.hand.each_with_index do |card, index| %>
<p class="card<%= index %>"><%= card.rank %> <%= card.suit %></p>
<% end %>

<h2><%= @game.player_two.name %></h2>
<% @game.player_two.hand.each_with_index do |card, index| %>
<p class="card<%= index %>"><%= card.rank %> <%= card.suit %></p>
<% end %>

<form method="Post" action="/hit">
  <input type="submit" value="Hit">
</form>
