<% if @game.game_over? %>
<p><%= @game.winner.name %> wins!</p>
<% end %>

<div class="ui two column grid">
  <div class="six wide column centered">

    <h2><%= @game.player_one.name %></h2>
    <% @game.player_one.hand.each_with_index do |card, index| %>
    <p class="playercard<%= index %>"><%= card.rank %> <%= card.suit %></p>
    <% end %>

  </div>
  <div class="six wide column centered">

    <h2><%= @game.dealer.name %></h2>
    <% if @game.current_player.name == "Dealer" || @game.game_over? %>
      <% @game.dealer.hand.each_with_index do |card, index| %>
      <p class="dealercard<%= index %>"><%= card.rank %> <%= card.suit %></p>
      <% end %>
    <% else %>
      <p class="dealercard0"><%= @game.dealer.hand[0].rank %> <%= @game.dealer.hand[0].suit %></p>
    <% end %>

  </div>

<div class="twelve wide column centered">
<p>Current player - <%= @game.current_player.name %></p>

<% if @game.game_over? == false %>
<% if @game.current_player.name == "Dealer" %>
<form method="Post" action="/dealer_play">
  <input type="submit" value="Dealer's turn">
</form>
<% elsif @game.bust?(@game.current_player) == false %>
<div class="ui buttons primary center">
    <form method="Post" action="/hit">
      <input class="ui button fluid massive" type="submit" value="Hit">
    </form>
  <div class="or massive"></div>
    <form method="Post" action="/stick">
      <input class="ui positive button fluid massive" type="submit" value="Stick">
    </form>
</div>
</div>
</div>

<% end %>
<% end %>
